.app-footer {
    text-align: center;
    padding: 2rem 0;
    margin-top: 4rem;
    border-top: 1px solid #38302B; 
    color: var(--light-text-color); 
    font-size: 0.9rem;
}

.app-footer p {
    margin-bottom: 1rem;
}

.social-links a {
    margin: 0 0.8rem;
    color: var(--light-text-color); 
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: var(--primary-color); 
}